@import{font-family: 'Roboto', sans-serif;
}

body {
    background-color: rgb(46, 45, 45);
}
.background-texto-botones {
    display: flex;
    Justify-content: center;
    align-items: center;
    padding-top: 3rem;
}
.imagen {
    background-image: url(imagenes/fondo-texto-a-encriptar.jpg);
    background-size: cover;
    /* propiedad para hacer que la imagen ocupe todo el contedor, en caso contrario por más ancho o largo que le demos a este contenedor la imagen no va a crecer más que su tamaño base */
    width: 50rem;
    height: 30rem;
    /* a partir de ahora podemos definir el width y el height que queramos y la imagen nos va a acompañar */
    border-radius: 5px;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 10px 4px 10px 4px #000000;
}
.casilla-de-texto {
    /* borrados el position, el left y el top */
    background-color: rgba(212, 212, 212, 0.808);
    /* eliminación del transform, que movía el textarea un 50% arriba y a la izquierda */
    outline: none; /*Esto le saca el borde negro exterior*/
    resize: none; /*Impide que el textarea permita modificar su tamaño*/
    border-radius: 3px;
    width: 90%;
    height: 70%;
    margin-top: 0.8rem;
    padding: 1rem;
}
.botones {
    display: flex;
    padding: 0.7rem;
    margin: 1rem 6rem 0 6rem;
    outline: none;
}
#boton-encriptar, #boton-desencriptar{
    background-color: #424242;
    box-shadow: 3px 1px 3px 1px #000000;
    color: rgb(0, 0, 0);
    cursor: pointer;
    text-align: center;
    text-shadow: 0 1px rgba(0, 0, 0, 0.3);
    padding: 0.5rem 2.5rem;
    font: normal 13px/100% Raleway, Verdana, Arial;
    border-radius: 6px;
    transition: 1000ms;
}
#boton-encriptar:hover{
    background-color: #42424296;
}
#boton-encriptar:active{
    background-color: rgba(255, 255, 255, 0.548);
}
#boton-desencriptar:hover{
    background-color: #42424296;
}
#boton-desencriptar:active{
    background-color: rgba(255, 255, 255, 0.548);
}
.mensaje-y-copiar {
    display: flex;
    Justify-content: center;
    align-items: center;
    padding-top: 2rem;
    margin-bottom: 3rem;
}
.fondo-de-mensaje{
    background-image: url(imagenes/fondo-de-mensaje.jpg);
    background-size: cover;
    width: 45.4rem;
    height: 10.4rem;
    border-radius: 5px;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 10px 4px 10px 4px #000000;
    margin-bottom: 2rem;
    padding: 0.8rem;
}
.mensaje-mostrado{
    background-color: rgba(255, 255, 255, 0.575);
    color: black;
    outline: none;
    resize: none;
    border-radius: 6px;
    width: 45rem;
    height: 10rem;
    font-weight: bold;
    margin-top: 3.2rem;
    padding: 1rem;
}
.copiar{
    outline: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}
.boton-copiar{
    background-color: #424242;
    box-shadow: 3px 1px 3px 1px #000000;
    color: rgb(0, 0, 0);
    cursor: pointer;
    text-align: center;
    text-shadow: 0 1px rgba(0, 0, 0, 0.3);
    padding: 0.5rem 2.5rem;
    font: normal 13px/100% Raleway, Verdana, Arial;
    border-radius: 6px;
    transition: 1000ms;
}
.boton-copiar:hover{
    background-color: #42424296;
}
.boton-copiar:active{
    background-color: rgba(255, 255, 255, 0.288);
}
footer{
    background: linear-gradient(rgb(46, 45, 45), black);
    padding: 40px;
}
.copyright{
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    padding: 3rem;
}