@import{font-family: 'Roboto', sans-serif;
}
body {
    background-color: rgb(46, 45, 45);
}
.background-texto-botones {
    display: flex;
    Justify-content: center;
    align-items: center;
    padding-top: 3rem;
}
.imagen {
    background-image: url(imagenes/fondo.jpg);
    background-size: cover;
    /* propiedad para hacer que la imagen ocupe todo el contedor, en caso contrario por más ancho o largo que le demos a este contenedor la imagen no va a crecer más que su tamaño base */
    width: 50rem;
    height: 30rem;
    /* a partir de ahora podemos definir el width y el height que queramos y la imagen nos va a acompañar */
    border-radius: 5px;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 10px 4px 10px 4px #000000;
}
.casilla-de-texto {
    /* borrados el position, el left y el top */
    background-color: rgba(212, 212, 212, 0.808);
    /* eliminación del transform, que movía el textarea un 50% arriba y a la izquierda */
    outline: none; /*Esto le saca el borde negro exterior*/
    resize: none; /*Impide que el textarea permita modificar su tamaño*/
    border-radius: 3px;
    width: 90%;
    height: 70%;
}
.botones {
    display: flex;
    padding: 0.7rem;
    margin: 1rem 6rem 0 6rem;
    outline: none;
}
#boton-encriptar, #boton-desencriptar{
    background-color: #424242;
    box-shadow: 3px 1px 3px 1px #000000;
    color: rgb(0, 0, 0);
    cursor: pointer;
    text-align: center;
    text-shadow: 0 1px rgba(0, 0, 0, 0.3);
    padding: 0.5rem 2.5rem;
    font: normal 13px/100% Raleway, Verdana, Arial;
    border-radius: 6px;
}
.mensaje{
    font: normal 13px/100% Raleway, Verdana, Arial;
    cursor: text;
    display: flex;
    Justify-content: center;
    align-items: center;
    padding: 2rem;
}
.mensaje-mostrado{
    background-color: rgb(175, 175, 175);
    outline: none;
    resize: none;
    border-radius: 6px;
    width: 45rem;
    height: 10rem;
}
.boton-copiar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}